{% extends 'base.html' %} {% block content %}

<div id="about-section">
    <h2>About <strong>VishToDo</strong></h2>
    <br>
    <img src="{{ url_for('static', filename='images/todolst.png') }}" width="200" alt="">
    <br><br><br>
    <h5><strong>VishToDo</strong> is a to-do app used for maintaining daily activities</h5>
    <br><br>
    <p>Done with ❤ by Vishaal</p>

    <div id="contact">
        <a class="contact-icons" href="https://github.com/vishalvipin1"><i class="fab fa-github fa-lg"></i></a>

        <a class="contact-icons" href="https://www.linkedin.com/in/vishaalvipin/"><i class="fab fa-linkedin fa-lg"></i></a>

        <a class="contact-icons" href="https://www.instagram.com/vish.xzl/"><i
                class="fab fa-instagram fa-lg"></i></a>

        <a class="contact-icons" href="https://twitter.com/vishaalvipin"><i class="fab fa-twitter fa-lg"></i></a>

        <a class="contact-icons" href="mailto:vishaluxo@protonmail.ch"><i class="fas fa-envelope fa-lg"></i></a>
    </div>

    <footer>© 2022 VVM</footer>
</div>
{% endblock %}