{% extends 'base.html' %} {% block content %}

<div id="about-section">
    <h2>About <strong>toDoo</strong></h2>
    <br>
    <img src="{{ url_for('static', filename='images/todo-list-icon-27.jpg') }}" width="200" alt="">
    <br><br><br>
    <h5><strong>toDoo</strong> is an app built in order to manage day-to-day activities</h5>
    <h6><u>Version: 1.0</u></h6>
    <br><br>
    <p>Done with ❤ by Harish</p>

    <div id="contact">
        <a class="contact-icons" href="https://github.com/HarishK501"><i class="fab fa-github fa-lg"></i></a>

        <a class="contact-icons" href="https://www.linkedin.com/in/harish501/"><i class="fab fa-linkedin fa-lg"></i></a>

        <a class="contact-icons" href="https://www.instagram.com/harish.k501/"><i
                class="fab fa-instagram fa-lg"></i></a>

        <a class="contact-icons" href="https://twitter.com/HarishK501"><i class="fab fa-twitter fa-lg"></i></a>

        <a class="contact-icons" href="mailto:harish.sk501@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
    </div>

    <footer>© 2020 Harish</footer>
</div>
{% endblock %}